{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />


{%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
  {%- style -%}

    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before,
      #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{% style %}
  .logo-with-image-slider-main .sliders-width {
      width: calc(100% / {{section.settings.slides_number_desktop}});
  }

{% endstyle %}



  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
{%- for block in section.blocks -%}
      <div
        class="swiper-slide"
        id="Slide-{{ section.id }}-{{ forloop.index }}"
      >
        {% if  block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
        <div class="slider_content">
          {%- if block.settings.image -%}
            {%- liquid
              assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
              if section.settings.image_behavior == 'ambient'
                assign sizes = '120vw'
                assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
              else
                assign sizes = '100vw'
                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
              endif
            -%}
            {{
              block.settings.image
              | image_url: width: 3840
              | image_tag:
                loading: 'lazy',
                height: height,
                sizes: sizes,
                widths: widths
            }}
          {%- else -%}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        {% if  block.settings.link != blank %}</a>{% endif %}
      </div>
    {%- endfor -%}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      spaceBetween: 20,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },{% if section.settings.auto_play %}
      autoplay: {
        delay: {{section.settings.change_slides_speed | times: 1000 }},
        disableOnInteraction: false,
      },{% endif %}
      breakpoints: {
        667: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: {{section.settings.slides_number_desktop}},
          spaceBetween: 20,
        },
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

{% schema %}
{
  "name": "Logo slider",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Slide speed",
      "default": 5
    },
    {
      "type": "range",
      "id": "slides_number_desktop",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Number of slides(Desktop)",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "Auto play",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "slide",
      "limit": 20,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "image link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo slider",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
