details-modal.header__search {
    display: none !important;
}
.swiper-button-prev, .swiper-button-next{
  display: block !important;
  color: #d1d4e6 !important;
}
.mySwiper{
  margin: 0 10px !important;
}
.slider_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.mySwiper .swiper-button-next.swiper-button-disabled, .mySwiper .swiper-button-prev.swiper-button-disabled{
  pointer-events: unset;
  cursor: not-allowed;
}
.swiper-wrapper {
    margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .logo-with-image-slider-main .banner--small:not(.banner--adapt) {
      min-height: 22rem !important;
  }
  .logo-with-image-slider-main .sliders-width {
      width: calc(100% / 3) !important;
  }
  .logo-with-image-slider-main .media>img{
    object-fit: contain;
  }
}
@media screen and (max-width: 749px) {
  .banner--small:not(.banner--adapt) {
      min-height: 12rem !important;
  }
  .logo-with-image-slider-main .sliders-width {
      width: calc(100% / 1) !important;
  }
}

